.quickshop_img{ }

#id_qs_load{width: 621px;position: absolute;top: 30px; left: 50%;display: none;z-index: 1001;background: #fff;min-height: 300px;}
#output-div{}
a.close{width: 15px; height: 15px;text-indent: -999em;background: url(../../images/quickshop/close.gif) center center no-repeat;display: inline-block;float: right;padding: 10px 10px 0 0;position: absolute;right: -3px;top: -22px;}
#shadow_box{width: 100%;display: none;position: absolute;left: 0; top: 0;z-index: 1001;background: #000; opacity:0.5; -webkit-opacity:0.5; -moz-opacity:0.5;-khtml-opacity:0.5; z-index: 1000; /*filter:alpha(opacity=50);*/}
#loadingmask{padding: 5px 0;position: absolute;top: 50%;left: 50%;margin: -30px 0 0 -15px;}
#loading-mask-loader span{display: block;padding-top: 10px;}
#loading-mask-loader img{padding-right: 10px;}

#tm_quickshop_handler{position: absolute; display:block; }

.quickshop-main {}
.quickshop-main .product-view { border:0;}
.quickshop-main .product-essential { padding: 10px 10px 0; background:none;}
.quickshop-main .product-shop{ text-align:left; width:415px !important;float: right;}
.quickshop-main .product-view .product-img-box { text-align:left;float: left;}
.quickshop-main .product-view .product-img-box img{width:100%;}
.quickshop-main .product-view .product-img-box .product-image-zoom { border:1px solid #ddd;}
.quickshop-main .product-collateral { padding:0px; background:none; text-align:left;}

.quickshop-main .product-shop .product-options-bottom .price-box { float:left;}
.quickshop-main #zoom-btn{display: none !important; }
