
/* display none until init */
.product-carousel{
	display: none;
	opacity:1!important;
	-webkit-opacity:1!important;
	-moz-opacity:1!important;
	-khtml-opacity:1!important;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
}
#column-left .product-carousel, #column-right .product-carousel { display:block;}
#column-left .customNavigation, #column-right .customNavigation { display:none;}

#column-left .banners-slider-carousel .customNavigation,
#column-right .banners-slider-carousel .customNavigation{ display:block;}

.product-carousel .slider-wrapper{
	display: none;
	position: relative;
	transform: translate3d(0px, 0px, 0px);
	-webkit-transform: translate3d(0px, 0px, 0px);
	-ms-transform: translate3d(0px, 0px, 0px);
	-o-transform: translate3d(0px, 0px, 0px);
	-moz-transform: translate3d(0px, 0px, 0px);
	-webkit-perspective: 1000;
}
.product-carousel .slider-wrapper-outer{
	overflow: hidden;
	position: relative;
	width: 100%;
}
.product-carousel .slider-wrapper-outer.autoHeight{
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}
	
.product-carousel .slider-item{
	float: left;
}
.slider-controls .slider-page,
.slider-controls .slider-buttons div{
	cursor: pointer;
}
.slider-controls {
/*	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;*/
	-webkit-tap-highlight-color: transparent;
}

/* mouse grab icon */
 
.grabbing { 
    cursor:url("../../image/megnor/grabbing.png") 8 8, move;
}


/* fix */
.product-carousel  .slider-wrapper,
.product-carousel  .slider-item{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
	list-style:none;
}
.customNavigation    {text-align: center; position:relative;width:100%;z-index:9;}
.customNavigation a{
/*	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;*/
	-webkit-tap-highlight-color:transparent;
	display: block;
    float: right;
    height: 22px;
    position: absolute;
    top: -45px;
    width: 22px; 
	text-indent: -9999px;
	cursor:pointer;
} 
.customNavigation a.prev {
  	background: url("../../images/sprite.png") no-repeat scroll -206px 2px  transparent;
    right:35px;
}
.customNavigation a.prev:hover 	{ background-position: -206px -27px; text-decoration:none;}
.customNavigation a.next {
	background: url("../../images/sprite.png") no-repeat scroll -236px 2px transparent;
    right:10px;
}
.customNavigation a.next:hover 	{ background-position: -236px -27px; text-decoration:none;}

/**************** additional carousel start *******************/
.additional-carousel .product-carousel{  width:auto; margin:0 15px; }
.additional-carousel .customNavigation a.prev {
  	background:url("../../images/sprite.png") no-repeat scroll -15px -190px transparent;
    left:-3px;
	top:39px;
	z-index:999;  
	text-indent: -9999px;
	cursor:pointer;
}
.additional-carousel .customNavigation a.prev:hover 	{ background-position: -15px -216px; text-decoration:none; z-index:999;}
.additional-carousel .customNavigation a.next {
	background:url("../../images/sprite.png") no-repeat scroll -32px -191px transparent;
    right:-7px;
	top:39px;
	cursor:pointer;
	z-index:999; 
	text-indent: -9999px;
}
.additional-carousel .customNavigation a.next:hover 	{ background-position:-32px -217px; text-decoration:none; z-index:999;}
.additional-carousel .slider-item {   float: left;  width: 90px; }
.additional-carousel .slider-item .product-block{ background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #EEEEEE;
    border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
    clear: both;
    margin: 4px 7px;
    overflow: hidden;
}

/**************** additional carousel End *******************/

.product-info .product-image .customNavigation    { text-align: center; position:absolute; width:100%; z-index:9;}
.product-info .product-image .customNavigation a{
/*	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;*/
	-webkit-tap-highlight-color: transparent;
	display: block;
    float: right;
    height: 20px;
    position: absolute;
    top: -34px;
    width: 16px;
}

.product-info .product-image .customNavigation a.prev {
  	background: url("../../image/megnor/sprite.png") no-repeat scroll -11px -60px transparent;
    left:-3px;
	top:35px;
}
.product-info .product-image .customNavigation a.prev:hover 	{ background-position: -11px -90px; text-decoration:none;}
.product-info .product-image .customNavigation a.next {
	background: url("../../image/megnor/sprite.png") no-repeat scroll -43px -60px transparent;
	right:-3px;
	top:35px;
}
.product-info .product-image .customNavigation a.next:hover 	{ background-position: -43px -90px; text-decoration:none;}

/*.related-products .customNavigation{ width:97%;}
.related-products .customNavigation a.prev {
  	background: url("../../image/megnor/sprite.png") no-repeat scroll -204px 2px transparent;
    right:25px;
	top:-20px;
}
.related-products .customNavigation a.prev:hover 	{ background-position: -204px -27px; text-decoration:none;}
.related-products .customNavigation a.next {
	background: url("../../image/megnor/sprite.png") no-repeat scroll -234px 2px transparent;
	right:0px;
	top:-20px;
}
.related-products .customNavigation a.next:hover 	{ background-position: -234px -27px; text-decoration:none;}
*/



.featured-products .customNavigation a,.new-products .customNavigation a,.box-up-sell .customNavigation a,.crosssell_product .customNavigation a,.bestseller-products .customNavigation a,.special-products .customNavigation a{
/*top:80px;*/
top:100px;
z-index:9;
height:50px;
width:32px;
opacity:0;
-webkit-opacity:0; 
-khtml-opacity:0; 
-moz-opacity:0;
transition-duration:500ms;
-webkit-transition-duration:500ms;
-moz-transition-duration:500ms;
-ms-transition-duration:500ms;
-o-transition-duration:500ms;
}

.ie8 .new-products:hover .customNavigation a,.ie8 .featured-products:hover .customNavigation a,.ie8 .box-up-sell:hover .customNavigation a,.ie8 .crosssell_product:hover .customNavigation a,.ie8 .bestseller-products:hover .customNavigation a,.ie8 .special-products:hover .customNavigation a{display:none;}

.new-products:hover .customNavigation a,.featured-products:hover .customNavigation a,.box-up-sell:hover .customNavigation a,.crosssell_product:hover .customNavigation a,.bestseller-products:hover .customNavigation a,.special-products:hover .customNavigation a{
opacity:1;
-webkit-opacity:1; 
-khtml-opacity:1; 
-moz-opacity:1;
transition-duration:500ms;
-webkit-transition-duration:500ms;
-moz-transition-duration:500ms;
-ms-transition-duration:500ms;
-o-transition-duration:500ms;
}

.ie8 .new-products:hover .customNavigation a,.ie8 .featured-products:hover .customNavigation a,.ie8 .box-up-sell:hover .customNavigation a,.ie8 .crosssell_product:hover .customNavigation a,.ie8 .bestseller-products:hover .customNavigation a,.ie8 .special-products:hover .customNavigation a{display:block;}

.featured-products .customNavigation a.next,.new-products .customNavigation a.next,.box-up-sell .customNavigation a.next,.crosssell_product .customNavigation a.next,.bestseller-products .customNavigation a.next,.special-products .customNavigation a.next
{background:url("../../images/sprite.png") no-repeat scroll -158px -638px transparent;right:0px}
.featured-products .customNavigation a.next:hover,.new-products .customNavigation a.next:hover,.box-up-sell .customNavigation a.next:hover,.crosssell_product .customNavigation a.next:hover,
.bestseller-products .customNavigation a.next:hover,.special-products .customNavigation a.next:hover
{background-position:-110px -638px;}
.featured-products .customNavigation a.prev,.new-products .customNavigation a.prev,.box-up-sell .customNavigation a.prev,.crosssell_product .customNavigation a.prev,
.bestseller-products .customNavigation a.prev,.special-products .customNavigation a.prev

{background:url("../../images/sprite.png") no-repeat scroll -14px -638px transparent;left:0px}
.featured-products .customNavigation a.prev:hover,.new-products .customNavigation a.prev:hover,.box-up-sell .customNavigation a.prev:hover,.crosssell_product .customNavigation a.prev:hover,
.bestseller-products .customNavigation a.prev:hover,.special-products .customNavigation a.prev:hover
{background-position:-62px -638px;}