#advancedmenu {
    position:relative;        
	margin:0 auto;
 	z-index:9;
}
div.menu {
    float: left;
}
div.menu.act {
   background:none;
}
div.menu.active {
	background:none;
	color:#5E5E5E ; 
}
div.megnor-advanced-menu-popup { 
    background:#FFF;
	position:absolute;
	display: none;
	text-align:left; 
	border:1px solid #F2F2F2;
	box-shadow:0px 1px 7px -5px #A6A6A6;
	-webkit-box-shadow:0px 1px 7px -5px #A6A6A6;
	-moz-box-shadow:0px 1px 7px -5px #A6A6A6;
	top:50px;
	border-top:none;
}
.megnor-advanced-menu-popup_inner{background:#FFF; padding:20px 40px; display:inline-block;}
div.menu a, div.megnor-advanced-menu-popup a {   display:block; }
div.megnor-advanced-menu-popup a		
{ 
	padding:8px 0px;
	text-transform:none;
	
}
 div.megnor-advanced-menu-popup a:hover{}
div.megnor-advanced-menu-popup a.actParent {
    color: #4D4D4D;
}
div.megnor-advanced-menu-popup a.act {
    color: #A52A2A;
}
div.column {
    float:left;
    width:180px; /* column width */
    padding:5px 15px;
}
div.itemSubMenu {
    /*margin-left:20px;*/
}
.clearBoth {
    clear:both;
}

div.megnor-advanced-menu-popup .block1		{ }
div.megnor-advanced-menu-popup .block2		{ padding:5px;}
#advancedmenu .megnor-advanced-menu-popup .itemMenu  a	{ font-weight:normal;  font-size: 14px;}
#advancedmenu .level1 > a.itemMenuName ,.advance_menu .product_name{
    font-size: 15px;
	font-weight:bold  ; color:#424243 ;
	border-bottom:1px solid #D3D3D3;
	margin-bottom:6px;
} 
.advance_menu{margin-left:10px;}
.nav-container .description a{color:#2271B2; padding:2px 0;}
.nav-container .description a:hover{color:#000000;}
.advance_inner {width:220px;float:left;margin-right:30px;padding-right:30px;}
.advance_outer{border-bottom:1px solid #D3D3D3;float:left;margin-bottom:20px;padding-bottom:5px;}
.item_image{float:left;}
.description{color:#666666;}
.itemSubMenu .itemMenu 
{
	margin-left:0px;
}
.itemSubMenu .itemMenu a.itemMenuName
{
	background: url("../../images/menu_bullet_hover.png") no-repeat scroll 0 11px transparent;
    color: #2271B2; 
    font-weight: normal;
    padding: 2px 0 2px 10px; 

}
.itemSubMenu .itemMenu a:hover	{ background:url("../../images/menu_bullet.png") no-repeat scroll 0 11px transparent;  color: #000;}

.custom_menu:hover .customblock_inner {    display: block;} 
.customblock_inner		{ background:#FFF; width:250px; padding:5px;}
#advancedmenu .parentMenu.home_link a{
	font-size:0px;
	background:url("../../images/sprite.png") no-repeat scroll 0 -847px transparent;
	width:2px;
}
